name: build-angular

on:
  workflow_call:
    inputs:
      working-directory:
        description: "The working directory to use."
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: ${{ inputs.working-directory }}/package-lock.json

      - run: npm config set ignore-scripts true
      - run: npm ci
      - run: npm run build
      - run: npm run test
