name: build-spring-boot

on:
  workflow_call:
    inputs:
      working-directory:
        description: "The working directory to use."
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: wrapper

      - run: chmod +x gradlew
      - run: ./gradlew build
      - run: ./gradlew bootBuildImage
